@use 'helpers/color' as *;

.radio-btn {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid $main-color;
  background: transparent;
  cursor: pointer;

  &:first-of-type {
    margin-right: 1.4rem;
  }

  &.active {
    background: $main-color;
  }
}
