@use 'color' as *;
@use 'mixin' as *;

.about {
  border-top: 1px solid $main-color;
  border-bottom: 1px solid $main-color;

  &__inner {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;

    @media (max-width: 460px) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    @include text(3rem, 4.2rem, 400);
    padding: 4.1rem 5rem 8.2rem;
    border-right: 1px solid $main-color;

    @media (max-width: 768px) {
      grid-column: 1/4;
      border-right: none;
      border-bottom: 1px solid $main-color;
      font-size: 2.8rem;
      padding-bottom: 4.2rem;
    }

    @media (max-width: 460px) {
      @include text(1.6rem, 2.7rem, 400);
      grid-column: 1/2;
      padding: 1.8rem 2rem 1.8rem;
    }
  }

  &__parameter {
    padding: 4.1rem 7.9rem 4.5rem 5rem;
    min-width: 25rem;

    @media (max-width: 768px) {
      min-height: 50.5rem;
    }

    @media (max-width: 460px) {
      padding: 2rem 2rem 2.5rem;
      min-height: 0;
    }

    &:first-of-type {
      border-right: 1px solid $main-color;

      @media (max-width: 460px) {
        border-right: none;
        border-bottom: 1px solid $main-color;
      }
    }
  }

  &__title {
    @include text(3rem, 3.7rem, 400);
    letter-spacing: 0.2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;

    @media (max-width: 460px) {
      @include text(2.2rem, 2.2rem, 400);
      margin-bottom: 4rem;
    }
  }

  & .list {
    @include text(2.1rem, 3.2rem, 300);

    @media (max-width: 460px) {
      @include text(1.6rem, 2rem, 300);
    }

    &__inner {
      list-style-type: none;
      &:not(:last-child) {
        margin-bottom: 0.2rem;
      }
    }
  }
}
