@use 'color' as *;
@use 'mixin' as *;

.press {
  border-bottom: 1px solid $main-color;

  &__container {
    min-height: 50rem;
    display: grid;
    grid-template-columns: 50% 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 460px) {
      min-height: 3rem;
    }
  }

  &__title {
    @include text-head-blocks();
    border-right: 1px solid $main-color;
    padding: 5rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;

    @media (max-width: 460px) {
      padding: 2rem;
      // justify-content: flex-start;
    }
  }

  &__slider-text {
    @include text(3rem, 4.2rem, 300);

    @media (max-width: 460px) {
      @include text(1.6rem, 2.7rem, 300);
      margin-bottom: 16.5rem;
    }

    &:last-of-type {
      display: none;
    }
  }

  &__slider-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 460px) {
      max-height: 3rem;
    }

    & .radio-btn {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      border: 1px solid $main-color;
      background: transparent;
      cursor: pointer;

      &:first-of-type {
        margin-right: 1.4rem;
      }

      &.active {
        background: $main-color;
      }
    }
  }

  &__slider-link {
    @include animation();
    @include text(1.9rem, 2.8rem, 400);

    color: $main-color;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid $main-color;
    padding: 1.2rem 2.6rem;
    text-decoration: none;

    &:hover {
      background-color: $main-color;
      color: $bg-page;
    }

    @media (max-width: 460px) {
      @include text(1.4rem, 2.8rem, 400);
      padding: 0.7rem 2.2rem;
    }
  }
}
