@use 'helpers/color' as *;
@use 'helpers/mixin' as *;

.footer {
  display: grid;
  grid-template-columns: 50% 1fr;
  min-height: 31.7rem;

  @media (max-width: 460px) {
    grid-template-columns: 1fr;
  }

  &__left {
    border-right: 1px solid $main-color;
    padding: 5rem;

    @media (max-width: 768px) {
      border-right: none;
      padding-right: 0;
    }

    @media (max-width: 460px) {
      padding: 2rem;
      margin-bottom: 7.7rem;
    }
  }

  &__left-title {
    @include text-head-blocks();
    padding-bottom: 1.6rem;

    @media (max-width: 460px) {
      @include text(2.6rem, 2.6rem, 400);
    }
  }

  &__left-text {
    @include text(1.9rem, 2.8rem, 400);
    padding-bottom: 6.4rem;

    @media (max-width: 460px) {
      @include text(1.4rem, 1.4rem, 400);
      padding-bottom: 6rem;
    }
  }

  & .subscribe {
    width: 100%;
    max-width: 33.5rem;

    @media (max-width: 460px) {
      max-width: 100%;
    }

    &__row {
      display: flex;
      flex-wrap: nowrap;
    }

    & .textfield {
      @include text(0.9rem, 1.8rem, 400);
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      background-color: transparent;
      border: 1px solid $main-color;
      color: $main-color;
      display: block;
      width: 100%;
      max-width: 33.5rem;
    }

    &-input {
      padding: 0.7rem 1.1rem;
      border: none;
      outline: none;
    }
    input[name='firstname'],
    input[name='lastname'] {
      border-bottom: none;
    }

    input[name='firstname'] {
      border-right: none;
    }
    input[type='submit'] {
      width: auto;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      @media (max-width: 460px) {
        padding: 0.7rem 2.1rem;
      }
      @media (max-width: 320px) {
        padding: 0.7rem;
      }
    }

    &__button {
      cursor: pointer;
      background-color: $main-color;
      color: $bg-page;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: flex-end;
    padding: 5rem;
    @media (max-width: 460px) {
      padding: 2rem;
    }

    @media (max-width: 460px) {
      align-items: start;
    }

    & .footer__logo {
      margin-bottom: 16.5rem;
      @media (max-width: 460px) {
        margin-bottom: 2rem;
        width: 100%;
      }
    }

    &-copyright {
      @include text(1.3rem, 1.3rem, 400);
      letter-spacing: 0.1rem;
      @media (max-width: 460px) {
        margin: 0 1rem;
      }
    }
  }
}
