.header-content__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 2.5rem;

  @media (max-width: 768px) {
    margin-bottom: 7rem;
  }

  @media (max-width: 320px) {
    margin-bottom: 0;
  }
}
