@font-face {
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-family: 'SourceSansPro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
  font-family: 'SourceSansPro';
  font-weight: 300;
  font-style: light;
  font-stretch: normal;
}
